<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-body">
            <h4>Usuários</h4>
            <p>Todos os usuários cadastros.</p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Usuário</th>
                            <th class="cell-btn"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor= "let user of users">
                            <td class="cell-id">{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.username}}</td>
                            <td class="cell-btn">
                                <a class="btn btn-primary" href="#" (click)="openEdit(user)"><i class="fas fa-pen"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>